.card {
  background: #fff;
  border-radius: 8px;
  position: relative;
}

.card .card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.card .card-header-data {
  display: flex;
  align-items: center;
}

.card .card-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  background: #e02041;
  margin-right: 1rem;
  flex: none;
}

.card .card-title {
  font-size: 24px;
  font-weight: bold;
  color: #41414d;
  margin: 0;
}

.card .delete-button {
  border: 0;
  background-color: transparent;
  color: #a8a8b3;
}

.card .delete-button:hover {
  color: #e02041 !important;
}

.card .card-body {
  padding: 1rem;
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  background: #f8f9fd;
  color: #41414d;
  font-size: 20px;
  font-weight: 700;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
